.buttonwidth {
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .rbc-toolbar {
        margin-left: 15% !important;
        margin-right: 15% !important;
    }
    .rbc-calendar {
        height: 90vh !important;
    }
    .buttons-center-mobile {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .buttonwidth {
        width: 100%;
    }
}